extends layout

append head
    script.
        function getCheckboxValues() {
            var checked =  $(":checked").toArray();
            var pids = [];
            for (var i = 0; i < checked.length; i++){
                pids.push(checked[i]["name"]);
            }
            return pids;
        }

        $(function () {
            $("#cancel-form").submit(function (event) {
                event.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/cancel",
                    data: $(this).serialize() + '&p_id=' + getCheckboxValues().toString()
                })
                    .success(function (data) {
                        if (data.status == 'SUCCESS')
                            alert('Successfully cancelled ' + data.data + ' ticket(s)');
                        else
                            alert('Failed to process request.');
                    })
                    .error(function (error) {
                        alert('Internal Server Error');
                    });
            });
        });

block content
    div
        table.table.table-bordered
            thead
                tr
                    th PNR No.
                    th Train No.
                    th Train Name
                    th Class
                    th Date of Journey
                    th Boarding Point
                    th Destination Point
                    th No. of Passengers

            tbody
                - var j=0;

                for passenger in passenger_data
                    - j++;
                tr
                    td #{pnr_data[0].pnr}
                    td #{pnr_data[0].train_no}
                    td #{pnr_data[0].name}
                    td #{pnr_data[0].coach_class}
                    td #{pnr_data[0].date_of_journey.getDate()}/#{pnr_data[0].date_of_journey.getUTCMonth() + 1}/#{pnr_data[0].date_of_journey.getFullYear()}
                    td #{pnr_data[0].boarding_pt}
                    td #{pnr_data[0].destination}
                    td #{j}

    .container
        div.mainbox.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1#loginbox(style='margin-top:50px;')
            .panel.panel-info
                .panel-heading
                    div.panel-title PNR Status
                div.panel-body(style="padding-top:30px")
                    div
                        table.table.table-bordered
                            thead
                                tr
                                    th S.No.
                                    th Passenger Name
                                    th Age
                                    th Gender
                                    th Preference
                                    th Booking Status
                                    th Current Status
                                    if locals.cancel && locals.cancel != ''
                                        th Select

                            tbody
                                - var i=0
                                form(id='cancel-form',role='form')
                                    input.form-control(type="hidden", id="cancel_pnr", name="pnr", value= pnr_data[0].pnr )
                                    for passenger in passenger_data
                                        - i++;
                                        tr
                                            td #{i}
                                            td #{passenger.name}
                                            td #{passenger.age}
                                            td #{passenger.gender}
                                            td #{passenger.preference}
                                            td WL/19
                                            if passenger.status == 'CAN'
                                                td Cancelled
                                            else
                                                td #{passenger.coach_id} #{passenger.seat_no}
                                            if locals.cancel && locals.cancel != ''
                                                td
                                                    input.form-control.cancel_pid(type="checkbox", name="#{passenger.p_id}" )

                        if locals.cancel && locals.cancel != ''
                            div
                                button.btn.btn-danger#cancel_btn(form='cancel-form',type='submit') Cancel


