extends layout

append head
    script.
        function getCheckboxValues() {
            var checked = $(":checked").toArray();
            var pids = [];
            for (var i = 0; i < checked.length; i++) {
                pids.push(checked[i]["name"]);
            }
            return pids;
        }

        $(function () {
            $("#cancel-form").submit(function (event) {
                event.preventDefault();
                var checkboxValues = getCheckboxValues();
                if (checkboxValues.length == 0)
                    alert('No tickets selected to be canceled');
                else {
                    $.ajax({
                        type: "POST",
                        url: "/cancel",
                        data: $(this).serialize() + '&p_id=' + getCheckboxValues().toString()
                    })
                        .done(function (data) {
                            if (data.status == 'SUCCESS') {
                                alert('Successfully cancelled ' + data.data + ' ticket(s)');
                                if (data.data != 0)
                                    window.location.reload();
                            }
                            else
                                alert('Database Error: ' + data.data);
                        })
                        .fail(function () {
                            alert('Internal Server Error');
                        })
                }
            });
        });

block content
    div
        table.table.table-bordered
            thead
                tr
                    th PNR No.
                    th Train No.
                    th Train Name
                    th Class
                    th Date of Journey
                    th Boarding Point
                    th Destination Point
                    th No. of Passengers

            tbody
                - var j=0,cancelled=0;

                for passenger in passenger_data
                    - cancelled = (passenger.status == 'CAN') ? cancelled + 1 : cancelled;
                    - j++;
                tr
                    td #{pnr_data[0].pnr}
                    td #{pnr_data[0].train_no}
                    td #{pnr_data[0].name}
                    td #{pnr_data[0].coach_class}
                    td #{pnr_data[0].date_of_boarding.getDate()}/#{pnr_data[0].date_of_boarding.getUTCMonth() + 1}/#{pnr_data[0].date_of_boarding.getFullYear()}
                    td #{pnr_data[0].boarding_pt}
                    td #{pnr_data[0].destination}
                    td #{j}

    .container
        div.mainbox.col-md-10.col-md-offset-1.col-sm-10.col-sm-offset-1#pnrbox(style='margin-top:50px;')
            .panel.panel-info
                .panel-heading
                    div.panel-title PNR Status
                div.panel-body(style="padding-top:30px")
                    div
                        table.table.table-bordered
                            thead
                                tr
                                    th S.No.
                                    th Passenger Name
                                    th Age
                                    th Gender
                                    th Preference
                                    th Booking Status
                                    th Current Status
                                    if locals.cancel && locals.cancel != '' && j != cancelled
                                        th Select

                            tbody
                                - var i=0
                                form(id='cancel-form',role='form')
                                    input.form-control(type="hidden", id="cancel_pnr", name="pnr", value= pnr_data[0].pnr )
                                    for passenger in passenger_data
                                        - i++;
                                        tr
                                            td #{i}
                                            td #{passenger.name}
                                            td #{passenger.age}
                                            td #{passenger.gender}
                                            td #{passenger.preference}
                                            if passenger.booking_status == 'WL'
                                                td WL/#{passenger.booking_waitlist_no}
                                            else
                                                td #{passenger.coach_id}/#{passenger.seat_no}
                                            if passenger.status == 'CAN'
                                                td Cancelled
                                            else
                                                td #{passenger.coach_id}/#{passenger.seat_no}
                                            if locals.cancel && locals.cancel != '' && passenger.status != 'CAN'
                                                td
                                                    input.form-control.cancel_pid(type="checkbox", name="#{passenger.p_id}" )
                                            else
                                                td

                        if locals.cancel && locals.cancel != ''
                            div
                                button.btn.btn-danger#cancel_btn(form='cancel-form',type='submit') Cancel


