//
   Created by shreyansh on 4/11/16.

extends layout

append head
    link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    script(src="https://code.jquery.com/jquery-1.12.4.js")
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
    script(src="/js/autocomplete.js")
    script(src="/js/availability.js")

append navbar-contents
    ul.nav.navbar-nav.navbar-right
        li
            a(href="#",data-toggle="modal",data-target="#add-money-modal")
                span.glyphicon.glyphicon-piggy-bank
                text#balance &nbsp; &#x20B9; #{balance}
        li
            a(href="logout")
                span.glyphicon.glyphicon-log-in
                text &nbsp Logout

block content
    .container-fluid
        .row
            block search-box
                .col-lg-3
                    .panel.panel-info
                        .panel-heading
                            div.panel-title Search Trains
                        .panel-body(style="padding-top:30px")
                            form(id='search-form',class='form-horizontal',role='form', action='/search_trains', method='post')
                                div.form-group
                                    label.col-md-3.control-label(for="search-from") From Station
                                    .col-md-9
                                        input.form-control(type="text",id='search-from', name="search_from", placeholder="From", value=search_from)
                                div.form-group
                                    label.col-md-3.control-label(for="search-to") To Station
                                    .col-md-9
                                        input.form-control(type="text",id='search-to', name="search_to", placeholder="To", value=search_to)
                                div.form-group
                                    label.col-md-3.control-label(for="search-date") Journey Date
                                    .col-md-9
                                        input.form-control(type="date",id='search-date', name="search_date", value=search_date)
                                div.form-group
                                    .col-md-offset-3.col-md-9
                                        button.btn.btn-primary#btn-search Search

            block results
                .col-lg-9
                    div.col-lg-12#availability_results(style="padding-left:0;text-align:center;")
                    div.col-lg-12#fare_results(style="padding-left:0;text-align:center;")
                    div.mainbox#search_train_results
                        div
                            table.table.table-hover
                                thead
                                    tr
                                        th S.No.
                                        th Train No.
                                        th Train Name
                                        th Departure
                                        th Arrival
                                        th Coaches

                                tbody
                                    - var i=0
                                    for train in search_result
                                        - i++;
                                        tr
                                            td #{i}
                                            td
                                                a(href="#", onClick="window.open('/schedule/"+train.train_no+"','MyWindow','width=450,height=600');return false") #{train.train_no}
                                            td #{train.name}
                                            td #{train.departure_time}
                                            td #{train.arrival_time}
                                            td
                                                for coach in train.coach_class
                                                   a(href="javascript:getAvailability('"+train.train_no+"','"+coach+"','"+search_from+"','"+search_to+"','"+search_date+"')" style='padding-left: 7px') #{coach}